<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <title>Faculdade Impacta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'style.css'%}" rel="stylesheet">
        {% block css%}
        {% endblock%}
    </head>
    <body>
            <header>
                    <div class="menus" id="cabecalho">
                        <img src="{% static 'img/logo-center.png'%}">
                        <nav id="Menu">
                            <ul><a class='cor_menu' href="index.html"><p id="Pmenu">Home</a></ul>
                            <ul>   <a class='cor_menu' href="cursos.html">Cursos</a></ul>
                            <!--ul>   <a class='cor_menu' href="nova_disciplina">Novas Disciplinas</a></ul-->
                            <!--ul>   <a class='cor_menu' href="novo_curso">Novos Cursos</a></ul-->
                            <ul>   <a class='cor_menu' href="login">Login</a></ul>
                        </nav>
                    </div>
                   
            </header>


            <main>
                {% block conteudo %}
                {% endblock %}
            </main>
            <footer class="footer">
                    <hr />11 3254-8300 - Impacta 2018 - Todos os direitos reservados.
            </footer>


    </body>
    {% block script%}
    {% endblock%}
</html>
