{% extends "base.html" %}
{% block conteudo %}
    {% if Usuario.id %}
    <h1>Alterando Usuario</h1>
    {% else %}
    <h1>Novo Usuario</h1>
    {% endif %}
    {% if erro %}
        
    <p> {{ erro }} </p>
    {% endif %}
    <form method="POST" action=''>
        <p>
            Email: <input name='email' required type="email" value='{{ usuario.email }}' />
        </p>
        <p>
            Senha: <input name='senha' type="password" required />
        </p>
        <p>
            Confirme a Senha: <input name='senha2' type="password" required />
        </p>
        <button>Enviar</button>
    </form>
{% endblock conteudo %}